<div class="jumbotron">
<h1>Siemano memiczne świry</h1>
<p>Najlepsze skradzione memy z internetu</p>
  <%= link_to 'O mnie', home_about_path, class: 'btn btn-default' %>
  <%= link_to 'Strona główna', root_path, class: 'btn btn-primary' %>
</div>